*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
   background-image: url("background.jpg");
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.card{
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    text-align: center;
}
header{
    text-align: center;
    margin-top: 50px;
}
.entry{
    margin-bottom: 20px;
}
.user, .pass{
    margin-bottom: 15px;
}
label {
    display: block;
    font-size: 14px;
    color: #0d0c0c;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forget{
    justify-content: left;
}
.login{
    border-radius: 15px;
}